@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i|Petit+Formal+Script|Prata|Press+Start+2P');

/* -------- Font Familites -------- */
/* 
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Prata', serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Petit Formal Script', cursive; 
*/
/* --------------------------------- */

body {
  background-color: #000;
}

h1,h2{
  text-align: center;
}

h2 .paraText{
  text-align: center;
  margin-top: 100px;
  font-weight: 700;
  color: #fff;
}

p .aboutMe {
  color: #eee;
}

b .blockQuoter {
  color: yellow;
}

.logoLimit {
  max-height: 90vh;
  max-width: 90%;
}

.profPic {
  margin-right: 15px;
  margin-bottom: 5px;
  max-width: 40%;
  border-radius: 15px;
  float: left;
}

.paraBlock {
  height: 350px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.blockquote {
  font-family: 'Prata', serif;
  text-align: center;
  /* max-width: 100%; */
}

.splash {
  max-height: 100vh;
  max-width: 100%;
  text-align: center;
}

.floatleft {
  float: left;
  margin: 0 auto;
}

#root {
  background-color: #3f3f3f;
  color: #fff;
}
