h1,h2{
  text-align: center;
}

h2 .paraText{
  text-align: center;
  margin-top: 100px;
  font-weight: 700;
  color: #fff;
}

p .aboutMe {
  margin-left: 25px;
}

.profPic {
  margin-right: 15px;
  margin-bottom: 5px;
  max-width: 200px;
  border-radius: 15px;
  float: left;
}

.paraBlock {
  height: 350px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.blockquote {
  max-width: 100%;
}

.splash {
  max-height: 100vh;
  max-width: 100%;
  text-align: center;
}