* {
    box-sizing: border-box;
    text-align: center;
  }

.namePlate {
    width: 175px;
    height: 100px;
    margin-bottom: 0;
    margin-left: 10%;
    float: left;
}   

header {
    background-color: #fff;
    height:  100px;
    border-bottom: #777, 1px;
    position: relative;
}

body {
    background: #ddd;
}

#pImg {
    max-width: 10%;
    border-radius: 10px;
    float: left;
    margin-right: 10px; 
}

h1 {
    background: #4aaaa5;
    font-size: 28px;
    font-weight: 900;
    font-family: 'Georgia', Times, 'Times New Roman', serif; 
    color: #fff;
    width: 250px;
    height: 100px;
    padding-top: 40px;
    padding-bottom: 10px;
}

h2 {
    font-size: 28px;
    font-family: Georgia;
    font-weight: 900;
    color: #4aaaa5;
    text-align: left;
}

p {
    line-height: 25px;
    margin: 0 auto;
    margin: 15px;
    text-align: left;
}

aside {
    background: #fff;
    color: #4aaaa5;
    display: block;
    height: 85px;
}

.nav {
    background-color: #FFF;
    color: #777;
    margin-right: 0; 
    position: absolute;
    float: right;
    width: 200px;
    height: 100px;
    font-family: Arial;
}

.navbar {
    background: #fff;
    color: #777;
    width: 300px;
    height: 60px;
    font-family: Helvetica;
    position: relative;

}

.main {
    background-color: #FFF;
    display: block;
    margin: 0 auto;   
    border-radius: 12px;
    padding: 35px;
}

#container {
    margin: 0 auto;
    width: 90%;
    display: block;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

footer {
    background-color: #666;
    color: #FFF;
    height: 80px;
    text-align: center;
    font-family: Arial;
    padding-bottom: 0px;
    border-top: #4aaaa5, 5px;
}

section {
    position: relative;
    margin-right: 10%;
    float: right;
    margin-top: 40px;
}

footer {
    text-align: center;
    bottom: 0;
    height: 120px;
    padding-top: 30px;
}

#smImg {
    max-width: 25px;
    max-height: 25px;
}