body {
    background: url("../images/IMG_2271.JPG");
    /* background-color: #777; */
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
  .bg-transparent {
    background-color: #777;
    opacity: 0.8;
  }
  
  h1 {
    font-family: 'Parisienne', cursive;;
    font-size: 35px;
  }
  
  footer {
    bottom: 0;
    width: 100%;
    height: 40px;
    opacity: 0.8;
    padding-top: 5px;
    font-size: 12px;
  }
  
  footer img {
    float: right;
    height: 25px;
    padding-right: 10px;
    padding-top: 5px;
  }
  
  footer p {
    float: left;
  }
  
  /* .bg-blk {
    margin-top: 3%;
    padding-top: 10px;
    background-color: red;
    border: 1px, solid, #000;
    opacity: 0.6;
    color: #fff;
    border-radius: 8px;
  } */
  
  .pt10 {
    padding-top: 10%;
  }
  
  #mtnav {
    margin-top: 75px;
  }
  
  #opac {
    mask-image:(rgba(0,0,0,1));
    -webkit-mask-image: -webkit-gradient(linear, left top, 
      left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  }
  
  #sizer {
    margin: 0 auto;
    max-height: 400px;
    max-width: 500px;
  }
  